<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Netflix</title>
</head>
<body>
    <h1>Netflix viewing history</h1>
    <div class="netflix-information">
        <table class="index_table netflix-table" id="netflixTable">
            <tr>
                <th colspan="1">
                    <h2>Netflix information</h2>
                </th>
                <th colspan="1">
                    <h2>Additional OMDb information</h2>
                </th>
                <th>
                    <h2>IMDb actor links</h2>
                </th>
                <th>
                    <h2>IMDb movie links</h2>
                </th>
            </tr>
            <tr>
                <th>
                    Movie Title:
                </th>
                <th>
                    Actors:
                </th>
                <th>
                    IMDb actors link:
                </th>
                <th>
                    IMDb movie link:
                </th>
            </tr>
            {% for movie_info in combined_data %}
            <tr>
                <td>{{ movie_info[2][1] }}</td>
                <td>
                    {% for actor in movie_info[0][1]['Actors'] %}
                    <a>{{ actor }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% for actor_uri in movie_info[1][1]['actor_uris'] %}
                        <a href="{{ actor_uri }}", target="blank_" >[{{ actor_uri }}]</a><br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ movie_info[1][0] }}", target="blank_">[{{ movie_info[1][0] }}]</a>
                </td>
            </tr>
            {% endfor %}
           

        </table>
        <button id="showMoreBtn" onclick="loadMoreRows()">Load More</button>
    </div>
    <script>
        function onload() {
            if (movie_info.length <= 20) {
                document.getElementById("showMoreBtn").style.display = "none";
            }
            else{
                document.getElementById("showMoreBtn").style.display = "block";
            }
        }
        function loadMoreRows() {
            var table = document.getElementById("netflixTable");
            var rows = table.rows;
            var hiddenRows = document.querySelectorAll('.netflix-row[style="display: none;"]');
            console.log(movie_info)

            for (var i = 0; i < 20 && i < hiddenRows.length; i++) {
                hiddenRows[i].style.display = "table-row";
            }
        }
    </script>
</body>
</html>
