body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.platform-btn {
    background-color: #51a1f6;
    color: white;
    padding: 10px 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}
.index_table{
    border-collapse: collapse;
    width: 20%;
    margin-top: 20px;
}
li {
    margin: 10px 0;
    text-align: left;
}
.profile_table{
    border-collapse: collapse;
    width: 100%;
}
.index_table th, .index_table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.index_table tr:hover {
    background-color: #bbc3ff;
}
.profile_table td {
    padding-top: 5px;
}
.index_img{
    width: 50px;
    height: 50px;
}
.profilepic_img{
    width: 100px;
    height: 100px;

}
.profile_information {
    flex: 1;
    margin: 20px;
    text-align: center;
}

@media (max-width: 600px){
    .profile_information {
        flex-basis: 100%;
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}