<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Streaming Platforms</title>
</head>
<body>
    <h1>Streaming Platforms</h1>

    <table class="index_table">
        <tr>
            <td><img src="static/images/Netflix.jpg" class="index_img"></td>
            <td>Netflix</td>
            <td><button class="platform-btn" onclick="showOptions('netflixOptions')">Login</button></td>
        </tr>
        <tr>
            <td><img src="static/images/spotify.jpg" class="index_img"></td>
            <td>Spotify</td>
            <td><button class="platform-btn" onclick="showOptions('spotifyOptions')">Login</button></td>
        </tr>
        <tr>
            <td><img src="static/images/Apple_Music_icon.png" alt="missing" class="index_img"></td>
            <td>Apple Music</td>
            <td><button class="platform-btn" onclick="showOptions('appleOptions')">Enter</button></td>
        </tr>
        <tr>
            <td></td>
            <td>Entity Linking</td>
            <td><button class="platform-btn" onclick="showOptions('EntityOptions')">Enter</button></td>
        </tr>
    </table>

    <div class="options" id="spotifyOptions" style="display: none;">
        <form action="/proceed" method="post"> <!-- Form starts here -->
            <h2>Select the data from Spotify you let us get access to</h2>
            <label><input type="checkbox" name="usernameCheckbox"> Username</label> <!-- Added name attribute -->
            <label><input type="checkbox" name="playlistsCheckbox"> Playlists</label> <!-- Added name attribute -->
            <label><input type="checkbox" name="songsCheckbox" onclick="toggleNumSongs()"> Songs</label> <!-- Added onclick attribute -->
            <div id="numSongsDiv" style="display: none;">
                Number of Songs: <input type="number" name="numSongsInput" min="1" value="1"> <!-- Added name attribute -->
            </div>
            <button id="proceed-spotify" style="display: none;"  type="submit" name="platform" value="spotify-API">Proceed</button>
        </form>
        <form action="/proceed_test" method="post">
            <button style="margin-top:10px;" type="submit" name="platform" value="spotify-TEST" onclick="showProgressbar('Spotify')">test</button>
        </form>
    </div>
    <div class="options" id="netflixOptions" style="display: none;">
        <form action="/proceed" method="post" enctype="multipart/form-data">
            <h2>Select the data from Netflix you let us get access to</h2>
            <label><input type="checkbox" name="viewCheckbox" onclick="togglePrecentOfHistory()">Give access to Netflix viewing history</label> <!-- Added onclick attribute -->
            <div id="PercentageDiv" style="display: none;">
                <input type="file" name="file" accept=".csv">
            </div>
            <button id="procced-netflix" style="display: none;" type="submit" name="platform" value="netflix-upload">Proceed</button>
        </form>
        <form action="/proceed_test" method="post">
            <button style="margin-top:10px;" type="submit" name="platform" value="netflix-TEST" onclick="showProgressbar('Netflix')">test</button>
        </form>
    </div>
    <div class="options" id="appleOptions" style="display: none;">
        <form action="/proceed" method="post" enctype="multipart/form-data">
            <h2>Select the data from Apple Music you let us get access to</h2>
            <label><input type="checkbox" name="viewCheckbox" onclick="togglePercentOfHistory()">Give access to Apple Music daily listening history</label> 
            <p>The file that can be processed is: 'Apple Music - Play History Daily Tracks.csv' 
                To get the file, request the privacy data 'Apple Media Services Information' from <a href="privacy.apple.com">privacy.apple.com</a> using your Apple account. After receiving the data, go into part 1, Apple_Media_Services and then Apple Music Activity to find the file.</p>
            <div id="PrecentageDiv" style="display: none;">
                <input type="file" name="file" accept=".csv">
            </div>
            <button type="submit" name="platform" value="applemusic-upload">Proceed</button> 
            <button id="procced-applemusic" style="display: none;" type="submit" name="platform" value="AppleM-upload">Proceed</button>
        </form>
        <form action="/proceed_test" method="post">
            <button style="margin-top:10px;" type="submit" name="platform" value="applemusic-TEST" onclick="showProgressbar('AppleM')">test</button>
        </div>
    <div class="options" id="EntityOptions" style="display: none;">
        <form action="/proceed" method="post"> <!-- Form starts here -->
            <h2>Write a statement</h2>
            <input type="text" name="statement" placeholder="I like the movie Titanic by Leonardo DiCaprio">
            <button type="submit" name="platform" value="Entity_Linking">Proceed</button>
        </form>
    </div>
    <div class="progress-container" style="display:none;">
        <div id="progress-bar" ></div>
    </div>
    <script>
        function showProgressbar(platform) {
            var progressContainer = document.getElementsByClassName("progress-container")[0];
            progressContainer.style.display = "block";
            var intervalId = setInterval(function() {
                updateProgress(platform);
            }, 10000);
        }
        
        function updateProgress(platform) {
            if (platform == "Spotify") {
                fetch('/progress-spotify')
                    .then(response => response.json())
                    .then(data => {
                        var percentage = (data.processed / data.total) * 100;
                        document.getElementById("progress-bar").style.width = percentage + "%";
                        
                        if (percentage === 100) {
                            clearInterval(intervalId);
                        }
                    });
            }
            else if (platform == "Netflix") {
                fetch('/progress-netflix')
                    .then(response => response.json())
                    .then(data => {
                        var percentage = (data.processed / data.total) * 100;
                        console.log(percentage);
                        document.getElementById("progress-bar").style.width = percentage + "%";
                        
                        if (percentage === 100) {
                            clearInterval(intervalId);
                        }
                    });
            }
            else if (platform == "AppleM") {
                fetch('/progress-AppleM')
                    .then(response => response.json())
                    .then(data => {
                        var percentage = (data.processed / data.total) * 100;
                        console.log(percentage);
                        document.getElementById("progress-bar").style.width = percentage + "%";
                        
                        if (percentage === 100) {
                            clearInterval(intervalId);
                        }
                    });
            }
        }

        function showOptions(optionId) {
            var optionsDiv = document.getElementById(optionId);
            var spotifyOptions = document.getElementById("spotifyOptions");
            var netflixOptions = document.getElementById("netflixOptions");
            if (spotifyOptions.style.display === "block") {
                spotifyOptions.style.display = "none";
                optionsDiv.style.display = "block";
            }
            else if (netflixOptions.style.display === "block") {
                netflixOptions.style.display = "none";
                optionsDiv.style.display = "block";
            }
            else {
                optionsDiv.style.display = "block";
            }
        }

        function toggleNumSongs() {
            var numSongsDiv = document.getElementById("numSongsDiv");
            var button = document.getElementById("proceed-spotify");
            if (numSongsDiv.style.display === "none") {
                numSongsDiv.style.display = "block";
                button.style.display = "block";

            } else {
                numSongsDiv.style.display = "none";
                button.style.display = "none";
            }
        }
        
        function togglePrecentOfHistory() {
            var percentageDiv = document.getElementById("PercentageDiv");
            var button = document.getElementById("procced-netflix");
            
            if (percentageDiv.style.display === "none") {
                percentageDiv.style.display = "block";
                button.style.display = "block";
            } else {
                percentageDiv.style.display = "none";
                button.style.display = "none";
            }
        }
        function togglePercentOfHistory() {
            var percentageDiv = document.getElementById("PrecentageDiv");
            if (percentageDiv.style.display === "none") {
                percentageDiv.style.display = "block";
            } else {
                percentageDiv.style.display = "none";
            }
        }
    </script>
</body>
</html>